In [13]:
import numpy as np #import numpy library
import pandas as pd #import pandas library
import matplotlib.pyplot as plt #import matplot library
%matplotlib inline

import glob
import os

import nltk.classify.util
from astropy.table import Table, Column

import string

from sklearn import svm
from sklearn import metrics

In [14]:
 def loadMetricData(checkoutCenter, timeFrame):
    path =  checkoutCenter + "/" + timeFrame + "/"
#     print(path)
    all_files = glob.glob(os.path.join(path, "*.csv")) 
#     print(all_files)
    data = pd.DataFrame()
    list_ = []
    for file_ in all_files:
        data = pd.read_csv(file_,index_col=None, header=0)
        list_.append(data)
        data = pd.concat(list_)
    return data

In [15]:
metrics = loadMetricData('ERC', "06222016_06232016")

metrics.tail(5)

,Allocation,Latest Operator,Patron,Patron Barcode,Patron Department,Patron Email,Renewal Count,Account Code,Actual Return Time,Aggregate Value,...,Return Time,Returning Operator,Route Summary,Set People,Set/Strike Info,Show,State,Strike People,Use Charge Duration,Summary
115,CK-171588,Colin Todd,Barbara Compagnoni,NaN,"PSD, School of Art, Media and Technology",compagnb@newschool.edu,0,NaN,NaN,"$5,900.00",...,"Jun 22, 2016 2:37 PM",NaN,NaN,NaN,NaN,F,CHECKOUT,NaN,F,Checked Out: ADAPTERS / MOUNTS / STANDS - LIGH...
116,CK-171589,Amanda Alfieri,Barbara Compagnoni,NaN,"PSD, School of Art, Media and Technology",compagnb@newschool.edu,0,NaN,"Jun 21, 2016 5:46 PM","$1,000.00",...,"Jun 22, 2016 3:11 PM",Colin Todd,NaN,NaN,NaN,F,CHECKOUT-COMPLETED,NaN,F,Returned: CANON XA10 - CANON XA10 HD W/ MICROP...
117,CK-171599,Colin Todd,Hashem Eaddy,NaN,Photography,eaddyh@newschool.edu,1,NaN,NaN,"$2,496.00",...,"Jun 27, 2016 9:00 AM",NaN,NaN,NaN,NaN,F,CHECKOUT,NaN,F,Checked Out: A7 - B21SY - A7 28-70MM - B21SY |...
118,CK-171600,Colin Todd,Hashem Eaddy,NaN,Photography,eaddyh@newschool.edu,0,NaN,NaN,$0.00,...,"Aug 1, 2016 9:00 AM",NaN,NaN,NaN,NaN,F,CHECKOUT,NaN,F,Checked Out: AMT WACOM TABLETS - WACOM INTROUS...
119,CK-171622,Amanda Alfieri,Sol Hashemi,NaN,"PSD, School of Art, Media and Technology",sol@newschool.edu,0,NaN,NaN,$400.00,...,"Jun 23, 2016 5:27 PM",NaN,NaN,NaN,NaN,F,CHECKOUT,NaN,F,Checked Out: PROFOTO AIR REMOTE - PROFOTO AIR ...

In [36]:
metrics.dtypes

Allocation                        object
Latest Operator                   object
Patron                            object
Patron Barcode                   float64
Patron Department                 object
Patron Email                      object
Renewal Count                      int64
Account Code                     float64
Actual Return Time        datetime64[ns]
Aggregate Value                   object
Allocation Notes                  object
Auto-Circulate                    object
Checkout Center                   object
Class Or Event Title             float64
Contact Info                     float64
Contact Person                   float64
Charge Duration                  float64
Creation Time                     object
Credit Card Type                 float64
Default Patron Class              object
Deliver To Location              float64
Deliver To Name                  float64
Deliver To String                float64
Delivery Type                     object
Effective Patron Class            object
Effective Return Time             object
Estimated Charges                 object
Invoices                         float64
Item Count                         int64
Item Names                        object
                               ...
Payment Type                      object
Pickup Option                     object
Pickup Time               datetime64[ns]
Project Code                     float64
Requires Approval                 object
Resource Count                     int64
Renewal Limit                    float64
Return Option                     object
Return Time               datetime64[ns]
Returning Operator                object
Route Summary                    float64
Set People                       float64
Set/Strike Info                  float64
Show                              object
State                             object
Strike People                    float64
Use Charge Duration               object
Summary                           object
Sony a99                          object
Sony a99 count                   float64
Sony a77                          object
Sony a77 count                   float64
Sony a65                          object
Sony a65 count                   float64
Sony NEX-7                        object
Sony NEX-7 count                 float64
Sony a7                           object
Sony a7 count                    float64
Sony RX1                          object
Sony RX1 count                   float64
dtype: object

In [17]:
# clean metric data
metrics['Actual Return Time'] = pd.to_datetime(metrics['Actual Return Time'])
metrics['Return Time'] = pd.to_datetime(metrics['Return Time'])
metrics['Pickup Time'] = pd.to_datetime(metrics['Pickup Time'])

# metrics.dtypes
# metrics.head(5)

,Allocation,Latest Operator,Patron,Patron Barcode,Patron Department,Patron Email,Renewal Count,Account Code,Actual Return Time,Aggregate Value,...,Return Time,Returning Operator,Route Summary,Set People,Set/Strike Info,Show,State,Strike People,Use Charge Duration,Summary
0,CK-171407,Amanda Alfieri,James L. Ramer,2.120701e+13,NaN,ramerj@newschool.edu,0,NaN,2016-06-14 17:26:00,$0.00,...,2016-06-15 15:45:00,Amanda Alfieri,NaN,NaN,NaN,F,CHECKOUT-COMPLETED,NaN,F,Returned: MINI DISPLAY PORT TO HDMI - MINI DIS...
1,CK-171248,Administrator,Miranda Lichtenstein,2.120701e+13,NaN,lichtenm@newschool.edu,0,NaN,NaT,"$5,999.00",...,2016-06-16 15:30:00,NaN,NaN,NaN,NaN,F,RESERVATION-CANCELLED,NaN,F,Reservation Cancelled: LARGE FORMAT - COURTNEY...
2,CK-171249,Administrator,Miranda Lichtenstein,2.120701e+13,NaN,lichtenm@newschool.edu,0,NaN,NaT,"$5,999.00",...,2016-06-11 13:30:00,NaN,NaN,NaN,NaN,F,RESERVATION-CANCELLED,NaN,F,Reservation Cancelled: LARGE FORMAT - COURTNEY...
3,CK-171584,Amanda Alfieri,Miranda Lichtenstein,2.120701e+13,NaN,lichtenm@newschool.edu,0,NaN,NaT,"$5,999.00",...,2016-06-23 16:30:00,NaN,NaN,NaN,NaN,F,RESERVATION,NaN,F,Reserved: LARGE FORMAT - COURTNEY LOVE 9900 - ...
4,CK-171345,Amanda Alfieri,Sebastian Matias Perinotti,2.120710e+13,MPH,peris942@newschool.edu,0,NaN,2016-06-14 12:23:00,"$1,827.00",...,2016-06-14 12:30:00,Amanda Alfieri,NaN,NaN,NaN,F,CHECKOUT-COMPLETED,NaN,F,Returned: FUJI DIGITAL - X-PRO1 18-55MM B01FD ...

In [51]:
# Sony Bodies
metrics['Sony a99'] = metrics['Summary'].str.contains('A99')
metrics['Sony a99 count'] = metrics['Summary'].str.count('A99')
metrics['Sony a77'] = metrics['Summary'].str.contains('A77')
metrics['Sony a77 count'] = metrics['Summary'].str.count('A77')
metrics['Sony a65'] = metrics['Summary'].str.contains('A65')
metrics['Sony a65 count'] = metrics['Summary'].str.count('A65')
metrics['Sony NEX-7'] = metrics['Summary'].str.contains('NEX-7')
metrics['Sony NEX-7 count'] = metrics['Summary'].str.count('NEX-7')
metrics['Sony a7'] = metrics['Summary'].str.contains('A7')
metrics['Sony a7 count'] = metrics['Summary'].str.count('A7')
metrics['Sony RX1'] = metrics['Summary'].str.contains('RX1')
metrics['Sony RX1 count'] = metrics['Summary'].str.count('RX1')

# Sony Lenses
metrics['Sony 50 Emount'] = metrics['Summary'].str.contains('50MM 1.8 E')
metrics['Sony 50 Emount count'] = metrics['Summary'].str.count('50MM 1.8 E')
metrics['Sony 24 Emount'] = metrics['Summary'].str.contains('24MM 1.8 E') # zeiss glass
metrics['Sony 24 Emount count'] = metrics['Summary'].str.count('24MM 1.8 E') # zeiss glass
metrics['Sony MACRO 100MM Amount'] = metrics['Summary'].str.contains('B08SL')
metrics['Sony MACRO 100MM Amount count'] = metrics['Summary'].str.count('B08SL')
metrics['Sony 18-250MM Amount'] = metrics['Summary'].str.contains('B09SL')
metrics['Sony 18-250MM Amount count'] = metrics['Summary'].str.count('B09SL')
metrics['Sony 24 Amount'] = metrics['Summary'].str.contains('ZEISS 24MM') # zeiss glass
metrics['Sony 24 Amount count'] = metrics['Summary'].str.count('ZEISS 24MM') # zeiss glass
metrics['Sony 85 Amount'] = metrics['Summary'].str.contains('ZEISS 85MM') # zeiss glass
metrics['Sony 85 Amount count'] = metrics['Summary'].str.count('ZEISS 85MM') # zeiss glass
metrics['Sony 70-200MM Amount'] = metrics['Summary'].str.contains('B12SL')
metrics['Sony 70-200MM Amount count'] = metrics['Summary'].str.count('B12SL')
metrics['Sony 70-300MM Amount'] = metrics['Summary'].str.contains('B17SL')
metrics['Sony 70-300MM Amount count'] = metrics['Summary'].str.count('B17SL')
metrics['Sony 24-70MM Amount'] = metrics['Summary'].str.contains('ZEISS 24-70') # zeiss glass
metrics['Sony 24-70MM Amount count'] = metrics['Summary'].str.count('ZEISS 24-70') # zeiss glass
metrics['Sony 50MM Amount'] = metrics['Summary'].str.contains('50MM') # need to fix picks up canon 50mm lenses too
metrics['Sony 50MM Amount count'] = metrics['Summary'].str.count('50MM')# need to fix picks up canon 50mm lenses too

In [52]:
# Canon Bodies
metrics['Canon 1DS'] = metrics['Summary'].str.contains('1DS')
metrics['Canon 1DS count'] = metrics['Summary'].str.count('1DS')
metrics['Canon 1DSMII'] = metrics['Summary'].str.contains('1DS MARK II')
metrics['Canon 1DSMII count'] = metrics['Summary'].str.count('1DS MARK II')
metrics['Canon 1DSMIII'] = metrics['Summary'].str.contains('1DS MARK III')
metrics['Canon 1DSMIII count'] = metrics['Summary'].str.count('1DS MARK III')
metrics['Canon 1DSMIV'] = metrics['Summary'].str.contains('1DS MARK IV')
metrics['Canon 1DSMIV count'] = metrics['Summary'].str.count('1DS MARK IV')
metrics['Canon 20D'] = metrics['Summary'].str.contains('20D') 
metrics['Canon 20D count'] = metrics['Summary'].str.count('20D')
metrics['Canon 40D'] = metrics['Summary'].str.contains('40D')
metrics['Canon 40D count'] = metrics['Summary'].str.count('40D')
metrics['Canon 50D'] = metrics['Summary'].str.contains('50D')
metrics['Canon 50D count'] = metrics['Summary'].str.count('50D')
metrics['Canon 5D'] = metrics['Summary'].str.contains('5D')
metrics['Canon 5D count'] = metrics['Summary'].str.count('5D')
metrics['Canon 5DMII'] = metrics['Summary'].str.contains('5D MARK II')
metrics['Canon 5DMII count'] = metrics['Summary'].str.count('5D MARK II')
metrics['Canon 5DMIII'] = metrics['Summary'].str.contains('5D MARK III')
metrics['Canon 5DMIII count'] = metrics['Summary'].str.count('5D MARK III')
metrics['Canon 5DSR'] = metrics['Summary'].str.contains('5D SR')
metrics['Canon 5DSR count'] = metrics['Summary'].str.count('5D SR')
metrics['Canon 7D'] = metrics['Summary'].str.contains('7D')
metrics['Canon 7D count'] = metrics['Summary'].str.count('7D')

# Canon Lenses
metrics['Canon 16-35MM'] = metrics['Summary'].str.contains('16-35MM')
metrics['Canon 16-35MM count'] = metrics['Summary'].str.count('16-35MM')
metrics['Canon MACRO 100'] = metrics['Summary'].str.contains('MACRO 100MM 2.8')
metrics['Canon MACRO 100 count'] = metrics['Summary'].str.count('MACRO 100MM 2.8')
metrics['Canon 85MM 1.8'] = metrics['Summary'].str.contains('85MM 1.8')
metrics['Canon 85MM 1.8 count'] = metrics['Summary'].str.count('85MM 1.8')
metrics['Canon 85MM 1.2'] = metrics['Summary'].str.contains('85MM 1.2')
metrics['Canon 85MM 1.2 count'] = metrics['Summary'].str.count('85MM 1.2')
metrics['Canon 135MM'] = metrics['Summary'].str.contains('135MM 2.0')
metrics['Canon 135MM count'] = metrics['Summary'].str.count('135MM 2.0')
metrics['Canon TILT SHIFT 90MM 2.8'] = metrics['Summary'].str.contains('TILT SHIFT 90MM 2.8')
metrics['Canon TILT SHIFT 90MM 2.8 count'] = metrics['Summary'].str.count('TILT SHIFT 90MM 2.8')
metrics['Canon TILT SHIFT 24MM 3.5'] = metrics['Summary'].str.contains('TILT SHIFT 24MM 3.5')
metrics['Canon TILT SHIFT 24MM 3.5 count'] = metrics['Summary'].str.count('TILT SHIFT 24MM 3.5')



# 50MM 1.4
# TILT SHIFT 45MM 2.5
# TILT SHIFT 17MM 4.0
# MACRO 70-300MM 4.5-5.6
# MACRO 65MM 2.8
# MACRO 50MM 2.5
# 50MM 1.2
# 35MM 1.4
# 24MM 1.4
# 17-40MM 4.0
# 100-300MM 4.5-5.6
# 70-200MM 4.0
# 70-200MM 2.8

In [53]:
# Nikon Bodies
metrics['Nikon D40'] = metrics['Summary'].str.contains('D40')
metrics['Nikon D40 count'] = metrics['Summary'].str.count('D40')
metrics['Nikon D70'] = metrics['Summary'].str.contains('D70')
metrics['Nikon D40 count'] = metrics['Summary'].str.count('D70')
metrics['Nikon D3'] = metrics['Summary'].str.contains('D3 ')
metrics['Nikon D40 count'] = metrics['Summary'].str.count('D3 ')
metrics['Nikon D300'] = metrics['Summary'].str.contains('D300S')
metrics['Nikon D40 count'] = metrics['Summary'].str.count('D300S')
metrics['Nikon D700'] = metrics['Summary'].str.contains('D700')
metrics['Nikon D40 count'] = metrics['Summary'].str.count('D700')
metrics['Nikon D800'] = metrics['Summary'].str.contains('D800')
metrics['Nikon D40 count'] = metrics['Summary'].str.count('D800')
metrics['Nikon F50MM'] = metrics['Summary'].str.contains('NIKON F')
metrics['Nikon D40 count'] = metrics['Summary'].str.count('NIKON F')

#Nikon Lenses

# 135MM 2.0 - B13NL	Available	Parsons AMT Equipment Resource Center
# 16MM 2.8 - B10NL	Available	Parsons AMT Equipment Resource Center
# 17-35MM 2.8 - B20NL	Available	Parsons AMT Equipment Resource Center
# 24-70MM - B28NL	Offline indefinitely	Parsons AMT Equipment Resource Center
# 24-70MM - B29NL	Offline indefinitely	Parsons AMT Equipment Resource Center
# 24-85MM 3.5-4.5 - B16NL	Checked out until Jun 30, 2016 5:21 PM , CK-171418	Parsons AMT Equipment Resource Center
# 28-105MM - B03NL	Offline indefinitely	Parsons AMT Equipment Resource Center
# 28MM 2.8 - B11NL	Available	Parsons AMT Equipment Resource Center
# 28MM 3.5 NIKKOR - A02NL	Available	Parsons AMT Equipment Resource Center
# 35MM 2.0 (FILM CAMERA ONLY) - B18NL	Available	Parsons AMT Equipment Resource Center
# 55-200MM - B15NL	Non-circulating	Parsons AMT Equipment Resource Center
# 55mm 2.8 Nikkor - A01NL	Checked out until Jun 30, 2016 5:21 PM , CK-171418	Parsons AMT Equipment Resource Center
# MACRO 105MM 2.8 - B12NL	Available	Parsons AMT Equipment Resource Center
# MACRO 35-70MM 2.8 - B01NL
# 70-200MM 2.8
# 80-200MM 2.8

In [54]:
# Date and Time
# Check out
metrics['ckout weekday'] = metrics['Pickup Time'].dt.weekday
metrics['ckout month'] = metrics['Pickup Time'].dt.month
metrics['ckout hour'] = metrics['Pickup Time'].dt.hour
metrics['ckout min'] = metrics['Pickup Time'].dt.minute

# Check in
metrics['ckin weekday'] = metrics['Actual Return Time'].dt.weekday
metrics['ckin month'] = metrics['Actual Return Time'].dt.month
metrics['ckin hour'] = metrics['Actual Return Time'].dt.hour
metrics['ckin min'] = metrics['Actual Return Time'].dt.minute

# Late
metrics['late'] = metrics['Actual Return Time'] - metrics['Return Time']

In [55]:
metrics.head(5)

,Allocation,Latest Operator,Patron,Patron Barcode,Patron Department,Patron Email,Renewal Count,Account Code,Actual Return Time,Aggregate Value,...,Sony 85 Amount,Sony 85 Amount count,Sony 70-200MM Amount,Sony 70-200MM Amount count,Sony 70-300MM Amount,Sony 70-300MM Amount count,Sony 24-70MM Amount,Sony 24-70MM Amount count,Sony 50MM Amount,Sony 50MM Amount count
0,CK-171407,Amanda Alfieri,James L. Ramer,2.120701e+13,NaN,ramerj@newschool.edu,0,NaN,2016-06-14 17:26:00,$0.00,...,False,0,False,0,False,0,False,0,False,0
1,CK-171248,Administrator,Miranda Lichtenstein,2.120701e+13,NaN,lichtenm@newschool.edu,0,NaN,NaT,"$5,999.00",...,False,0,False,0,False,0,False,0,False,0
2,CK-171249,Administrator,Miranda Lichtenstein,2.120701e+13,NaN,lichtenm@newschool.edu,0,NaN,NaT,"$5,999.00",...,False,0,False,0,False,0,False,0,False,0
3,CK-171584,Amanda Alfieri,Miranda Lichtenstein,2.120701e+13,NaN,lichtenm@newschool.edu,0,NaN,NaT,"$5,999.00",...,False,0,False,0,False,0,False,0,False,0
4,CK-171345,Amanda Alfieri,Sebastian Matias Perinotti,2.120710e+13,MPH,peris942@newschool.edu,0,NaN,2016-06-14 12:23:00,"$1,827.00",...,False,0,False,0,False,0,False,0,False,0